---
- domain: DOMAIN-1.COM
  host: MY-HOSTNAME
  provider: namecheap
  settings:
    key: MY-DDNS-TOKEN-1
- domain: DOMAIN-2.NET
  host: MY-OTHER-HOSTNAME
  provider: namecheap
  settings:
    key: MY-DDNS-TOKEN-2
- domain: DOMAIN-3.ORG
  host: MY-HOSTNAME
  provider: ovh
  settings:
    username: DYNHOST_ACCESS_IDENTIFIER
    password: DYNHOST_ACCESS_PASSWORD
